fastapi==0.111.0
uvicorn[standard]==0.29.0
pydantic==2.7.1
numpy==1.26.4
scikit-learn==1.4.2
lightgbm==4.3.0
xgboost==2.0.3
joblib==1.4.2
shap==0.45.0
lime==0.2.0.1
imbalanced-learn==0.12.3
scipy==1.13.0
